/* Overrides fáceis (edite aqui) */
/*
:root{
  --primary: #a855f7;
}
*/

body {
  outline: 6px solid #ff00ff !important;
}

.card {
  border: 3px outset rgba(142, 172, 244, 0.73);
  background: linear-gradient(180deg, rgba(24, 201, 255, 0.39), rgba(255, 255, 255, .02));
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 14px;
}

.card.kpi {
  border: 3px outset white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.78));
  border-radius: var(--radius);
  box-shadow: 0 0 20px #db30ff;
  padding: 14px;
}

.grid.cols3 {
  border: 3px outset white;
  background: linear-gradient(180deg, rgba(42, 0, 54, 0.59), rgba(162, 42, 143, 0.65));
  border-radius: var(--radius);
  box-shadow: 0 0 20px #e6c7f7;
  padding: 10px;
  color: black;
}

.kpi .k {
  font-size: 12px;
  color: #060c15;
}

html,
body {
  height: auto;
  overflow: scroll;
  max-height: 850px;
}

body {
  -webkit-overflow-scrolling: touch;
}

#app {
  min-height: 100vh;
  height: auto !important;
  overflow: visible !important;
}

/* FIX: evita que o final da página fique “preso” atrás de UI fixa */
.container {
  padding-bottom: 140px !important;
}

.login.card {
  border: 1px solid var(--border);
  background: linear-gradient(180deg, rgba(207, 29, 179, 0.47), rgba(34, 9, 48, 0.49));
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 20px;
}

.login.btn.primary {
  background: linear-gradient(to right, rgba(161, 45, 185, 0.41), #1ca2cb 120%);
  font-weight: 700;
  border: 3px inset #ffffff7a;
}

.btn {
  border: 3px solid #ffffff3d;
  background: linear-gradient(to right, rgba(22, 191, 128, 0.74), #10524b);
  padding: 11px 12px;
  border-radius: 12px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-height: 44px;
  font-weight: 550;
}

.login.card {
  border: 3px outset var(--border);
  background: linear-gradient(180deg, rgba(207, 29, 179, 0.47), rgba(34, 9, 48, 0.49));
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 30px 20px;
  margin: 10px;
  max-height: 100vh;
  height: auto;
  width: auto;
  max-width: 100%;
}